.mainpage {
    background-color: #4d4d4d;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23757575' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
  
  #messages > :first-child {
    margin-top: auto !important
  }
  
  #messages::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box; 
  }
  
  #messages::-webkit-scrollbar-thumb:hover {
    background-color: #5d5d5d;
  }
  
  #messages::-webkit-scrollbar {
    width: 16px;
  }
  
  #messages::-webkit-scrollbar {
    width: 16px;
  }